.btnclss {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 5px;
    gap: 50px;
    margin-left: 30px;
    padding: 1em;

}

