
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
  }

.side-nav {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 200px;
   padding: 20px;
   background-color: #212122;
    
  }
  
  .side-nav a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    line-height: 5;
  }